#operations {
    background: white;
    overflow-y: hidden;
}

#ping {
    background: white;
    overflow-y: hidden;
}

#repeat {
    background: white;
    overflow-y: hidden;
}

#repeatResult {
    background: white;
    max-height: 400px;
    overflow-y: hidden;
}

.cell
{
    float: left;
    margin:1pt;
    width:130px;
    height:72px;
}
.container
{
    text-align:center;
    width:800px;
    height: 80px;
}
.centerwrapper
{
    margin: auto;
    width: 700px;
}

.sectionHeading {
    background: white;
    margin: 10px;
}

.tableContainer{
    margin: 20px;
}

.resultsSection {
    text-align:left;
    border:1px solid black;
    background: white;
    width: 400px;
    margin: 1em;
}

.bar {
    background: white;
    max-width: 200px;
    float: left;
    margin: 1em;
}

.repeatContainer {
    background: white;
    max-height: 400px;
    overflow-y: hidden;
}

.parent {
    margin-bottom: 15px;
    padding: 10px;
    color: #0A416B;
    clear:both;
}
.pod {
    display: inline-block;
    width:15%;
    border:1px solid #CEDCEA;
    padding:5px;
}

div.row {
    clear:both;
}